.menu {
    background-color: #333;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 200px;
    color: #fff;
}

.logo {
    font-size: 28px;
    padding-top: 5px;
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
}

.menu-items {
    font-size: 16px;
    margin-top: 15px;
    padding-bottom: 11px;
    border-bottom: 1px solid #fff;
}

.submenu-items {
    font-size: 16px;
    margin-top: 15px;
    padding-bottom: 11px;
}

.item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
    margin-bottom: 4px;
    color: #fff;
}

.menu-items > a:hover, .submenu-items > a:hover {
    text-decoration: none;
}

.menu-items > a:hover > .item,  .submenu-items > a:hover > .item {
    background-color: #444;
}

.menu-active {
    background-color: #444;
}

.mentions {
    position: absolute;
    bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    text-align: center;
    border-top: 1px solid #fff;
    width: 100%;

}

.mentions > a, .mentions > a:hover{
    color: #fff;
    text-decoration: underline;
}

.toolbar {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 56px;
    min-width: 500px;
    background-color: #333;
    color: #fff;
}

.page {
    position: absolute;
    overflow: auto;
    top:56px;
    left: 200px;
    bottom: 0px;
    right: 0px;
}

.toolbar-item {
    display: inline-block;
    padding: 6px 12px 10px 12px;

    text-align: center;
    float: right;
}

.toolbar-item > a, .toolbar-item > a:hover {
    color: #fff;
}

.deco-box {
    border-left: 1px solid #fff;
    padding: 6px 18px 10px 18px;
    margin-left: 15px;
}

.table-lignes {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 225px;
    top: 0px;
    overflow: auto;
}

.box-ecriture {
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    height: 190px;
    border-top: 1px solid #333;
    box-shadow: 0px 0px 5px #000;
    padding: 8px;
}

.box-solde {
    position: absolute;
    right: 0px;
    bottom: 195px;
    font-size: 16px;
    padding-right: 12px;
    font-weight: bold;
}

.nav > li > a {
    padding: 5px 15px;
}

.tab-pane {
    padding: 8px;
}

.liste-comptes {
    margin-left: 1px;
    margin-right: 1px;
}

legend {
    padding-left: 15px;
}

.solde-total {
    font-size: 14px;
    padding: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
    margin-bottom: 15px;
}

.solde-total > table > tbody > tr > td {
    padding-bottom: 3px;
    padding-top: 3px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.lien-ariane, .lien-ariane:hover {
    color: #333;
}

.input-date {
    width: 150px;
    display: inline;
}

.budget-liste {
    margin: 20px;
    margin-top: 0px;
}

.budget-periode {
    margin-left: 20px;
    margin-bottom: 20px;
}

.graph-titre {
    margin-left: 40px;
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 15px;
}

.budget-cat {
    margin-left: 20px;
}

.budget-liste-cat > .label {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
}

.budget-cat-link {
    color: #fff;
    font-size: 15px;
}

.budget-cat-link:hover {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.btn-add-cat {
    margin-top: 10px;
    margin-left: 80px;
}

.budget-add-cat {
    margin-top: 20px;
}

.form-modal {
    margin: 0px;
}

.modal-fixe {
    display: block !important;
}

.toolbar-item-link  {
    color: #fff;
    text-decoration: none;
}

.btn-budget-periode {
    margin-left: 15px;
}

.table-depenses-cat {
    margin-left: 25px;
}

.table-resume {
    width: 100%;
}

.resume-ligne-somme {
    border-bottom: 1px solid #fff;
}

.ligne-edit {
    color: #000;
    text-decoration: none;
}

.add-ligne {
    margin-bottom: 10px;
}

.champ-add-ligne {
    width: 80%;
}

.page-parametres {
    margin-left: 15px;
}

.label-parametres {
    width: 175px;
}

.btn-parametres {
    margin-left: 260px;
}

.appli-parametres {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 4px;
    margin-right: 150px;
}

.field-apikey {
    float: left;
}

.btn-apikey {
    float: left;
    margin-left: 30px;
}

.form-appli {
    margin-top: 75px;
}

.load-more-lines {
    text-align: center;
}