{% extends "main.twig" %}


{% block loadcss %}
    <link rel="stylesheet" href="static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="static/css/jquery-ui-theme.css">
{%  endblock %}

{% block titre %}Mes Categories{% endblock %}

{% block menuCategories %}menu-active{%  endblock %}

{% block toolbar %}
    <div class="toolbar-item">
        <a href="#" data-toggle="modal" data-target="#nouvelleCat">
            <span class="glyphicon glyphicon-plus glyphicon-inverse"></span><br>
            Catégorie
        </a>
    </div>
{%  endblock %}

{% block page %}
    <fieldset>
        <legend>Mes Categories</legend>

        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="text-center"></th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                {% for cat in catListe %}
                    <tr>
                        <form method="post" action="">
                            <input type="hidden" name="id" value="{{ cat.id }}">
                            <td><input type="text" name="nom" value="{{ cat.nom }}" class="form-control"></td>
                            <td class="text-center">
                                <input type="submit" name="mod" class="btn btn-info" value="Modifier">
                            </td>
                            <td class="text-center">
                                {% if cat.utilisation == 0  %}
                                    <a href="categories/del-{{ cat.id }}.html" class="btn btn-danger">Supprimer</a>
                                {% endif %}
                            </td>
                        </form>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center">Vous n'avez pas encore créer de catégories</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </fieldset>

    <div class="modal fade" id="nouvelleCat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                    <h4 class="modal-title" id="myModalLabel">Créer une Catégorie</h4>
                </div>
                <form method="post" action="" class="form-modal">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="input-group">
                                    <div class="input-group-addon">Nom de la catégorie</div>
                                    <input class="form-control" type="text" name="nom" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-primary" name="add" value="Créer">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block loadjs %}
    <script src="static/js/jquery-ui.min.js" type="text/javascript"></script>
{%  endblock %}