{% extends "main.twig" %}


{% block loadcss %}
    <link rel="stylesheet" href="static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="static/css/jquery-ui-theme.css">
{%  endblock %}

{% block titre %}Mes Comptes{% endblock %}

{% block menuComtpes %}menu-active{%  endblock %}

{% block page %}
    <fieldset>
        <legend>Mes Comptes</legend>

        <div class="row liste-comptes">
            <div class="col-md-4 ">
                <div class="panel panel-default">
                    <div class="panel-heading">
                       Comptes courant
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom du compte</th>
                                <th>Solde</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for compte in compteListe.courant %}
                            <tr>
                                <td><a href="comptes/{{ compte.id }}/view-all.html">{{ compte.nom }}</a></td>
                                <td>{{ compte.solde }} €</td>
                            </tr>
                            {% else %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><strong>Total</strong></td>
                                <td>{{ compteListe.total.courant }} €</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center"><a onclick="nouveauCompte('courant');">Créer un nouveau compte</a></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Comptes épargne
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom du compte</th>
                                <th>Solde</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for compte in compteListe.epargne %}
                                <tr>
                                    <td><a href="comptes/{{ compte.id }}/view-all.html">{{ compte.nom }}</a></td>
                                    <td>{{ compte.solde }} €</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td><strong>Total</strong></td>
                                <td>{{ compteListe.total.epargne }} €</td>
                            </tr>
                        <tr>
                            <td colspan="2" class="text-center"><a onclick="nouveauCompte('epargne');">Créer un nouveau compte</a></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Comptes professionnel
                    </div>

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Nom du compte</th>
                            <th>Solde</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for compte in compteListe.pro %}
                                <tr>
                                    <td><a href="comptes/{{ compte.id }}/view-all.html">{{ compte.nom }}</a></td>
                                    <td>{{ compte.solde }} €</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td><strong>Total</strong></td>
                            <td>{{ compteListe.total.pro }} €</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center"><a onclick="nouveauCompte('pro');">Créer un nouveau compte</a></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row liste-comptes">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Total des comptes
                    </div>

                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Comptes courant</td>
                            <td>{{ compteListe.total.courant }} €</td>
                        </tr>
                        <tr>
                            <td>Comptes épargne</td>
                            <td>{{ compteListe.total.epargne }} €</td>
                        </tr>
                        <tr>
                            <td>Comptes profesionnel</td>
                            <td>{{ compteListe.total.pro }} €</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td><strong>Total</strong></td>
                            <td>{{ compteListe.total.total }} €</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </fieldset>


    <div class="modal fade" id="nouveauCompte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                    <h4 class="modal-title" id="myModalLabel">Créer un compte</h4>
                </div>
                <form method="post" action="" class="form-modal">
                    <div class="modal-body">
                        <div class="input-group">
                            <div class="input-group-addon">Nom du compte</div>
                            <input class="form-control" type="text" name="nom" required>
                        </div>

                        <input type="hidden" id="compte_type" name="type">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-primary" value="Créer">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block loadjs %}
    <script src="static/js/jquery-ui.min.js" type="text/javascript"></script>
{%  endblock %}