<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>NyoCash - Login</title>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/login.css">

</head>
<body>
    <div class="modal modal-fixe">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New User</h4>
                </div>

                <form method="post" action="" class="form-modal">
                    <div class="modal-body">
                        {% if mdp is defined %}
                            <div class="alert alert-info">Hash Password : {{ mdp }}</div>
                        {% endif %}

                        <div class="input-group">
                            <div class="input-group-addon">Password</div>
                            <input type="password" name="mdp" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Hash">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="static/js/jquery.min.js" type="text/javascript"></script>
    <script src="static/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>