{% extends "main.twig" %}


{% block loadcss %}
    <link rel="stylesheet" href="static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="static/css/jquery-ui-theme.css">
{%  endblock %}

{% block titre %}Mes Comptes{% endblock %}

{% block menuComtpes %}menu-active{%  endblock %}

{% block toolbar %}
    <div class="toolbar-item">
        <a href="#" data-toggle="modal" data-target="#echeance" class="toolbar-item-link">
            <span class="glyphicon glyphicon-plus glyphicon-inverse"></span><br>
            Nouvelle
        </a>
    </div>
{%  endblock %}

{% block menu %}
    <a href="comptes/{{ compte.id }}/rapport-all.html"><div class="item">Rapports</div></a>
    <a href="comptes/{{ compte.id }}/echeancier.html"><div class="item menu-active">Echéancier</div></a>
{%  endblock %}

{% block page %}
    <fieldset>
        <legend>Compte {{ compte.type }} : <a class="lien-ariane" href="comptes/{{ compte.id }}/view-all.html">{{ compte.nom }}</a> - Echéancier</legend>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tier</th>
                    <th>Catégorie</th>
                    <th style="width: 100px;">Type</th>
                    <th style="width: 110px;">Montant</th>
                    <th style="width: 140px;">Date de début</th>
                    <th style="width: 180px;">Périodicité</th>
                    <th style="width: 190px;"></th>
                </tr>
            </thead>
            <tbody>
                {% for each in ech %}
                    <tr>
                        <td>{{ each.Tier.nom }}</td>
                        <td>{{ each.Categorie.nom }}</td>
                        <td>{{ each.type }}</td>
                        <td>{{ each.montant }} €</td>
                        <td>{{ each.dateDeb }}</td>
                        <td>{{ each.periodicite }}</td>
                        <td>
                            <a onclick="modeEch('{{ compte.id }}', '{{ each.id }}');" class="btn btn-info">Modifier</a>
                            <a href="comptes/{{ compte.id }}/echeancier/del-{{ each.id }}.html" class="btn btn-danger">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </fieldset>

    <div class="modal fade" id="echeance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nouvelle échéance</h4>
                </div>
                <form method="post" action="" class="form-modal">
                    <input type="hidden" name="id" value="">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">Tier</div>
                            <div class="col-md-4">
                                <input type="text" name="tier" list="tiers" id="ech-tier" class="form-control" required>
                                <datalist id="tiers">
                                    {% for tier in tiersListe %}
                                        <option value="{{ tier.nom }}">
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="col-md-3">Type</div>
                            <div class="col-md-3">
                                <select name="type" required class="form-control">
                                    <option value="debit">Débit</option>
                                    <option value="credit">Crédit</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2">Catégorie</div>
                            <div class="col-md-4">
                                <input type="text" name="cat" list="cat" id="ech-cat" class="form-control" required>
                                <datalist id="cat">
                                    {% for cat in catListe %}
                                        <option value="{{ cat.nom }}">
                                    {% endfor %}
                                </datalist>
                            </div>
                            <div class="col-md-3">Montant</div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="montant" class="form-control" required>
                                        <div class="input-group-addon">€</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2">Périodicité</div>
                            <div class="col-md-4">
                                <select name="periodicite" id="ech_periodicite_add" required class="form-control" onchange="echPeriodicite('add');">
                                    <option value="jours">Tous les jours</option>
                                    <option value="semaines">Toutes les semaines</option>
                                    <option value="mois">Toutes les mois</option>
                                    <option value="ans">Toutes les ans</option>
                                </select>
                            </div>
                            <div class="col-md-3">Date de la première échéance</div>
                            <div class="col-md-3"><input type="text" name="date_first" id="date_first" class="form-control" required></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-5" id="ech_titre"></div>
                            <div class="col-md-7" id="ech_corps"></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-primary" name="nouveau" value="Ajouter">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modEcheance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modifier une échéance</h4>
                </div>
                <form method="post" action="" class="form-modal">
                    <input type="hidden" name="id" id="modId" value="">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">Tier</div>
                            <div class="col-md-4">
                                <input type="text" name="tier" id="modTier" list="tiers" class="form-control" required>
                                <datalist id="tiers">
                                    {% for tier in tiersListe %}
                                    <option value="{{ tier.nom }}">
                                        {% endfor %}
                                </datalist>
                            </div>
                            <div class="col-md-3">Type</div>
                            <div class="col-md-3">
                                <select name="type" id="modType" required class="form-control">
                                    <option value="debit">Débit</option>
                                    <option value="credit">Crédit</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2">Catégorie</div>
                            <div class="col-md-4">
                                <input type="text" name="cat" id="modCat" list="cat" class="form-control" required>
                                <datalist id="cat">
                                    {% for cat in catListe %}
                                    <option value="{{ cat.nom }}">
                                        {% endfor %}
                                </datalist>
                            </div>
                            <div class="col-md-3">Montant</div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="montant" id="modMontant" class="form-control" required>
                                        <div class="input-group-addon">€</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2">Périodicité</div>
                            <div class="col-md-4">
                                <select name="periodicite" id="ech_periodicite_mod" required class="form-control" onchange="echPeriodicite('mod');">
                                    <option value="jours">Tous les jours</option>
                                    <option value="semaines">Toutes les semaines</option>
                                    <option value="mois">Toutes les mois</option>
                                    <option value="ans">Toutes les ans</option>
                                </select>
                            </div>
                            <div class="col-md-3">Date de la première échéance</div>
                            <div class="col-md-3"><input type="text" name="date_first" id="modDate_first" class="form-control" required></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-5" id="ech_titre_mod"></div>
                            <div class="col-md-7" id="ech_corps_mod"></div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-primary" name="modifier" value="Modifier">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block loadjs %}
    <script src="static/js/jquery-ui.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function() {
            var options = { dateFormat: "dd/mm/yy" };
            $("#date_first").datepicker(options);
            $("#modDate_first").datepicker(options);

            disableAutocomplete('modType');
            disableAutocomplete('modTier');
            disableAutocomplete('modCat');
            disableAutocomplete('modMontant');
            disableAutocomplete('modDate');

            disableAutocomplete('ech-tier');
            disableAutocomplete('ech-cat');
        });
    </script>
{%  endblock %}