<!doctype html>
<html lang="fr">
<head>
    <base href="{{ url }}">
    <meta charset="utf-8">
    <title>NyoCash - {% block titre %}{% endblock %}</title>


    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/main.css">


    {% block loadcss %}{%  endblock %}

</head>
<body>
    <div class="menu">
        <div class="logo">
            NyoCash
        </div>

        <div class="menu-items">
            <a href="comptes"><div class="item {% block menuComtpes %}{%  endblock %}">Mes Comptes</div></a>
            <a href="categories"><div class="item {% block menuCategories %}{%  endblock %}">Catégories</div></a>
            <a href="parametres"><div class="item {% block menuParametres %}{%  endblock %}">Paramètres</div></a>
        </div>

        <div class="submenu-items">
            {% block menu %}{%  endblock %}
        </div>

        <div class="mentions">
            © 2014<br><a href="http://www.loic-roque.fr/">Loïc Roque</a><br>Tous droits réservés
        </div>
    </div>

    <div class="toolbar">
        <div class="toolbar-item deco-box">
            Log as {{ user.pseudo }}<br>
            <a href="deco.html">Déconnexion</a>
        </div>
        {% block toolbar %}{%  endblock %}
    </div>

    <div class="page">
        {% block page %}{%  endblock %}
    </div>

    <script src="static/js/jquery.min.js" type="text/javascript"></script>
    <script src="static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="static/js/main.js" type="text/javascript"></script>

    {% block loadjs %}{%  endblock %}
</body>
</html>