{% extends "main.twig" %}


{% block loadcss %}
    <link rel="stylesheet" href="static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="static/css/jquery-ui-theme.css">
{%  endblock %}

{% block titre %}Paramètres{% endblock %}

{% block menuParametres %}menu-active{%  endblock %}

{% block page %}
    <fieldset>
        <legend>Paramètres</legend>

        <div class="page-parametres">
            {% if retour.compte == "ok" %}
                <div class="alert alert-success">Modification effectuée!</div>
            {% elseif retour.compte != "" %}
                <div class="alert alert-danger">{{ retour.compte }}</div>
            {% endif %}
            <form method="post" action="">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon label-parametres">Login</div>
                        <input class="form-control" type="text" value="{{ user.pseudo }}" name="pseudo">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon label-parametres">Nouveau mot de passe</div>
                        <input class="form-control" type="password" name="mdp1">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon label-parametres">Nouveau mot de passe</div>
                        <input class="form-control" type="password" name="mdp2">
                    </div>
                </div>

                <input type="submit" value="Modifier" class="btn btn-primary btn-parametres" name="modifCompte">
            </form>

            <h4 class="appli-parametres">Application Mobile</h4>

            <form method="post" action="">
                <div class="form-group">
                    <div class="input-group field-apikey">
                        <div class="input-group-addon label-parametres">clé API</div>
                        <input class="form-control" type="text" value="{{ user.apikey }}" name="apikey">
                    </div>

                    <input type="submit" value="Regénérer" class="btn btn-primary btn-apikey" name="regen">
                </div>
            </form>

            <form method="post" action="" class="form-appli">
                {% if retour.appli == "ok" %}
                    <div class="alert alert-success">Modification effectuée!</div>
                {% elseif retour.appli != "" %}
                    <div class="alert alert-danger">{{ retour.appli }}</div>
                {% endif %}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon label-parametres">Nouveau code PIN</div>
                        <input class="form-control" type="number" name="pin1" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon label-parametres">Nouveau code PIN</div>
                        <input class="form-control" type="number" name="pin2" required>
                    </div>
                </div>

                <input type="submit" value="Modifier" class="btn btn-primary btn-parametres" name="modifAppli">
            </form>
        </div>
    </fieldset>
{% endblock %}

{% block loadjs %}
    <script src="static/js/jquery-ui.min.js" type="text/javascript"></script>
{%  endblock %}