{% extends "main.twig" %}


{% block loadcss %}
    <link rel="stylesheet" href="static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="static/css/jquery-ui-theme.css">
{%  endblock %}

{% block titre %}Mes Comptes{% endblock %}

{% block menuComtpes %}menu-active{%  endblock %}

{% block toolbar %}
    <div class="toolbar-item">
        <a href="#" data-toggle="modal" data-target="#budget" class="toolbar-item-link">
            <span class="glyphicon glyphicon-plus glyphicon-inverse"></span><br>
            Budget
        </a>
    </div>
{%  endblock %}

{% block menu %}
    <a href="comptes/{{ compte.id }}/rapport-all.html"><div class="item menu-active">Rapports</div></a>
    <a href="comptes/{{ compte.id }}/echeancier.html"><div class="item">Echéancier</div></a>
{%  endblock %}

{% block page %}
    <fieldset>
        <legend>Compte {{ compte.type }} : <a class="lien-ariane" href="comptes/{{ compte.id }}/view-all.html">{{ compte.nom }}</a> - Rapports</legend>

        <div class="budget-liste">
            <ul class="nav nav-pills">
                <li {% if page == "all" %}class="active"{% endif %}><a href="comptes/{{ compte.id }}/rapport-all.html">Tous</a></li>
                {% for budget in budgetListe %}
                    <li {% if page == budget.id %}class="active"{% endif %}><a href="comptes/{{ compte.id }}/rapport-{{ budget.id }}.html">{{ budget.nom }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="budget-periode">
            <form method="post" action="">
                Afficher du <input type="text" name="debut" id="periodeDebut" class="form-control input-date" value="{{ periode.debut }}" required>
                au <input type="text" name="fin" id="periodeFin" class="form-control input-date" value="{{ periode.fin }}" required>
                <input type="submit" class="btn btn-info" value="Afficher" class="btn-budget-periode">
            </form>
        </div>

        {% if page == "all" %}
            <div class="row">
                <div class="col-md-4">
                    <div class="graph-titre">Dépenses par catégories</div>
                    <table class="table table-bordered table-depenses-cat">
                        <thead>
                        <tr>
                            <th>Catégorie</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cat in info.byCat %}
                            <tr>
                                <td>{{ cat.nom }}</td>
                                <td>{{ cat.total }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <div class="graph-titre">Dépenses par budgets</div>
                    <canvas id="budgetChart" class="rapport-graph" width="280" height="280"></canvas>
                </div>
            </div>
        {% endif %}

        <div class="row">
            {%  if page != "all" %}
                <div class="col-md-3 budget-cat">
                    <div class="graph-titre">Catégories utilisés dans ce budget</div>

                    <div class="budget-liste-cat">
                        {% for cat in info.budget.categories %}
                            <span id="cat_{{ cat.id }}" class="label label-primary">{{ cat.nom }} <a href="#" class="budget-cat-link" onclick="return budgetDelCat('{{ compte.id }}', '{{ page }}', '{{ cat.id }}')">&times;</a></span>
                        {% endfor %}
                    </div>

                    <div class="budget-add-cat">
                        <form method="post" action="">
                            <select multiple name="cats[]" required>
                                {% for cat in categories %}
                                    <option value="{{ cat.id }}">{{ cat.nom }}</option>
                                {% endfor %}
                            </select>
                            <br>
                            <input type="submit" name="addCat" class="btn btn-primary btn-add-cat" value="Ajouter">
                        </form>
                    </div>
                </div>
            {%  endif %}
            <div class="col-md-7 col-md-offset-1">
                <div class="graph-titre">Dépenses par mois (En moyenne {{ info.all.moyenne }}€)</div>
                {% if info.all.nbreValeur > 1 %}
                    <canvas id="tousChart" class="rapport-graph" width="800px;" height="300"></canvas>
                {% else %}
                    <div class="rapport-graph">Il faut afficher au moins deux mois.</div>
                {%  endif %}
            </div>
        </div>
    </fieldset>

    <div class="modal fade" id="budget" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nouveau Budget</h4>
                </div>
                <form method="post" action="" class="form-modal">
                    <input type="hidden" name="compte" value="{{ compte.id }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Libélé</div>
                                <input class="form-control" type="text" name="libele" style="width: 200px;" required>
                            </div>
                            <br>
                            Choisissez vos catégories :<br>
                            <select multiple name="cats[]" required>
                                {% for cat in categories %}
                                    <option value="{{ cat.id }}">{{ cat.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-primary" value="Créer">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block loadjs %}
    <script src="static/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="static/js/Chart.min.js"></script>


    <script type="text/javascript">
        $(function() {
            var options = { dateFormat: "dd/mm/yy" };
            $("#datepicker_debit").datepicker(options);
            $("#datepicker_credit").datepicker(options);
            $("#modDate").datepicker(options);

            $("#dateFrom").datepicker(options);
            $("#dateTo").datepicker(options);

            $("#periodeDebut").datepicker(options);
            $("#periodeFin").datepicker(options);

            {% if page == "all" %}
                var ctxBudget = $("#budgetChart").get(0).getContext("2d");

                var data = [];

                {% for budget in info.byBudget %}

                    var temp = {
                        value: {{ budget.montant }},
                        color:"{{ budget.color }}",
                        highlight: "{{ budget.color }}",
                        label: "{{ budget.nom }}"
                    }

                    data.push(temp);

                {%  endfor %}

                new Chart(ctxBudget).Pie(data);
            {% endif %}

            {% if info.all.nbreValeur > 1 %}
                var ctxTous = $("#tousChart").get(0).getContext("2d");

                var data = {
                    labels: [{{ info.all.label|raw }}],
                    datasets: [
                        {
                            label: "Solde",
                            fillColor: "rgba(220,220,220,0.2)",
                            strokeColor: "rgba(220,220,220,1)",
                            pointColor: "rgba(220,220,220,1)",
                            pointStrokeColor: "#fff",
                            pointHighlightFill: "#fff",
                            pointHighlightStroke: "rgba(220,220,220,1)",
                            data: [{{ info.all.valeur }}]
                        }
                    ]
                };


                new Chart(ctxTous).Line(data);
            {%  endif %}
        });
    </script>
{%  endblock %}