{% extends "main.twig" %}


{% block loadcss %}
    <link rel="stylesheet" href="static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="static/css/jquery-ui-theme.css">
{%  endblock %}

{% block titre %}Mes Comptes{% endblock %}

{% block menuComtpes %}menu-active{%  endblock %}

{% block toolbar %}
    <div class="toolbar-item">
        <div class="dropdown">
            <a href="#" type="button" id="afficher" data-toggle="dropdown" class="toolbar-item-link">
                <span class="glyphicon glyphicon-unchecked glyphicon-inverse"></span><br>
                Afficher
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="afficher">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="comptes/{{ compte.id }}/view-all.html">Toutes les lignes</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="comptes/{{ compte.id }}/view-compenser.html">Lignes compensées</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="comptes/{{ compte.id }}/view-non-compenser.html">Lignes non compensées</a></li>
            </ul>
        </div>
    </div>


    <div class="toolbar-item">
        <a href="#" data-toggle="modal" data-target="#import" class="toolbar-item-link">
            <span class="glyphicon glyphicon-import glyphicon-inverse"></span><br>
            Importer
        </a>
    </div>

    <div class="toolbar-item">
        <a href="#" data-toggle="modal" data-target="#export" class="toolbar-item-link">
            <span class="glyphicon glyphicon-export glyphicon-inverse"></span><br>
            Exporter
        </a>
    </div>
{%  endblock %}

{% block menu %}
    <div class="solde-total">
        <table class="table-resume">
            <tr>
                <td>Compensée</td>
                <td class="text-right" id="compense">{{ total.compense }} €</td>
            </tr>
            <tr class="resume-ligne-somme">
                <td>Non Compensée</td>
                <td class="text-right" id="non-compense">{{ total.nonCompense }} €</td>
            </tr>
            <tr>
                <td>Total</td>
                <td class="text-right">{{ total.compte }} €</td>
            </tr>
        </table>
    </div>
    <a href="comptes/{{ compte.id }}/rapport-all.html"><div class="item">Rapports</div></a>
    <a href="comptes/{{ compte.id }}/echeancier.html"><div class="item">Echéancier</div></a>
{%  endblock %}

{% block page %}
    <fieldset class="table-lignes" id="lignes">
        <legend>Compte {{ compte.type }} : {{ compte.nom }}</legend>

        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width: 40px;"></th>
                <th style="width: 150px;">Date</th>
                <th>Catégorie</th>
                <th>Tier</th>
                <th style="width: 100px;">Débit</th>
                <th style="width: 100px;">Crédit</th>
                <th style="width: 40px;">C</th>
            </tr>
            </thead>
            <tbody id="lines-table">
                {% if total.lignes == 1 %}
                    <tr>
                        <td colspan="7" class="load-more-lines" id="lines-loader" onclick="loadLines('{{ compte.id }}', '{{ tri }}');">Afficher toutes les lignes</td>
                    </tr>
                {% endif %}
                {% for ligne in lignes %}
                    <tr>
                        <td class="text-center">
                            <div class="dropdown">
                                <a href="#" type="button" id="afficher" data-toggle="dropdown" class="ligne-edit">
                                    <span class="glyphicon glyphicon-edit"></span><br>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="afficher">
                                    <li role="presentation"><a onclick="modLigne('{{ compte.id }}', '{{ ligne.id }}');">Modifier</a></li>
                                    <li role="presentation"><a href="comptes/{{ compte.id }}/del-{{ ligne.id }}-{{ tri }}.html">Supprimer</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>{{ ligne.dateFormat }}</td>
                        <td>{{ ligne.Categorie.nom }}</td>
                        <td>{{ ligne.Tier.nom }}</td>
                        {% if ligne.type == "debit" %}
                            <td>{{ ligne.montant }} €</td>
                            <td></td>
                        {% else %}
                            <td></td>
                            <td>{{ ligne.montant }} €</td>
                        {%  endif %}
                        <td><input type="checkbox" id="ligne_{{ ligne.id }}" onclick="compenser('ligne_{{ ligne.id }}', '{{ compte.id }}');" {% if ligne.compense == 1 %}checked{% endif %}></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </fieldset>

    <div class="box-solde">
        Solde : {{ compte.solde }} €
    </div>

    <div class="box-ecriture">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#debit" role="tab" data-toggle="tab">Débit</a></li>
            <li><a href="#credit" role="tab" data-toggle="tab">Crédit</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="debit">
                <form method="post" action="">
                    <div class="row add-ligne">
                        <div class="col-md-1">Payer à</div>
                        <div class="col-md-8">
                            <input type="text" name="tier" list="tiers" class="form-control champ-add-ligne" id="debit-tier" required>
                            <datalist id="tiers">
                                {% for tier in tiersListe %}
                                    <option value="{{ tier.nom }}">
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="col-md-1">Date</div>
                        <div class="col-md-2"><input type="text" name="date" id="datepicker_debit" class="form-control" id="debit-date" required></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">Catégorie</div>
                        <div class="col-md-8">
                            <input type="text" name="cat" list="cat" class="form-control champ-add-ligne" id="debit-cat" required>
                            <datalist id="cat">
                                {% for cat in catListe %}
                                    <option value="{{ cat.nom }}">
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="col-md-1">Montant</div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="montant" class="form-control" id="debit-montant" required>
                                    <div class="input-group-addon">€</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <input type="hidden" name="type" value="debit">
                        <div class="col-md-1 col-md-offset-9"><input type="submit" name="nouvelle" value="Ajouter" class="btn btn-info"></div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="credit">
                <form method="post" action="">
                    <div class="row add-ligne">
                        <div class="col-md-1">Reçu de</div>
                        <div class="col-md-8">
                            <input type="text" name="tier" list="tiers" class="form-control champ-add-ligne" id="credit-tier" required>
                            <datalist id="tiers">
                                {% for tier in tiersListe %}
                                    <option value="{{ tier.nom }}">
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="col-md-1">Date</div>
                        <div class="col-md-2"><input type="text" name="date" id="datepicker_credit" class="form-control" id="credit-date" required></div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">Catégorie</div>
                        <div class="col-md-8">
                            <input type="text" name="cat" list="cat" class="form-control champ-add-ligne" id="credit-cat" required>
                            <datalist id="cat">
                                {% for cat in catListe %}
                                    <option value="{{ cat.nom }}">
                                {% endfor %}
                            </datalist>
                        </div>
                        <div class="col-md-1">Montant</div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="montant" class="form-control" id="credit-montant" required>
                                    <div class="input-group-addon">€</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <input type="hidden" name="type" value="credit">
                        <div class="col-md-1 col-md-offset-9"><input type="submit" name="nouvelle" value="Ajouter" class="btn btn-info"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="export" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                    <h4 class="modal-title" id="myModalLabel">Exporter le compte</h4>
                </div>
                <form method="post" action="comptes/{{ compte.id }}/export.html" class="form-modal">
                    <input type="hidden" name="compte" value="{{ compte.id }}">
                    <div class="modal-body">
                        Exporter du <input type="text" required class="form-control input-date" name="from" id="dateFrom"> au <input type="text" required class="form-control input-date" name="to" id="dateTo">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-primary" value="Exporter">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="import" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                    <h4 class="modal-title" id="myModalLabel">Importer un fichier QIF</h4>
                </div>
                <form method="post" action="comptes/{{ compte.id }}/import.html" enctype="multipart/form-data" class="form-modal">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleInputFile">Fichier</label>
                            <input type="hidden" name="MAX_FILE_SIZE" value="90000" />
                            <input type="file" name="fichier" required>
                            <p class="help-block">fichier accepté : .qif</p>
                        </div>

                        <input type="hidden" id="compte_type" name="type">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-primary" value="Importer">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modLigne" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fermer</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modifiaction d'une ligne</h4>
                </div>
                <form method="post" action="" class="form-modal">
                    <input type="hidden" name="id" id="modId" value="">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-2">Type</div>
                            <div class="col-md-4">
                                <select name="type" id="modType" required class="form-control">
                                    <option value="debit">Débit</option>
                                    <option value="credit">Crédit</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2">Tier</div>
                            <div class="col-md-4">
                                <input type="text" name="tier" id="modTier" class="form-control" list="tiers" required>
                                <datalist id="tiers">
                                    {% for tier in tiersListe %}
                                    <option value="{{ tier.nom }}">
                                        {% endfor %}
                                </datalist>
                            </div>
                            <div class="col-md-2 col-md-offset-1">Date</div>
                            <div class="col-md-3"><input type="text" style="width: 85%;" name="date" id="modDate" class="form-control" required></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2">Catégorie</div>
                            <div class="col-md-4">
                                <input type="text" name="cat" id="modCat" list="cat" class="form-control" required>
                                <datalist id="cat">
                                    {% for cat in catListe %}
                                    <option value="{{ cat.nom }}">
                                        {% endfor %}
                                </datalist>
                            </div>
                            <div class="col-md-2 col-md-offset-1">Montant</div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" name="montant" id="modMontant" class="form-control" required>
                                        <div class="input-group-addon">€</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <input type="submit" class="btn btn-primary" name="modifier" value="Modifier">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block loadjs %}
    <script src="static/js/jquery-ui.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function() {
            var options = { dateFormat: "dd/mm/yy" };
            $("#datepicker_debit").datepicker(options);
            $("#datepicker_credit").datepicker(options);
            $("#modDate").datepicker(options);

            $("#dateFrom").datepicker(options);
            $("#dateTo").datepicker(options);

            disableAutocomplete('credit-tier');
            disableAutocomplete('credit-cat');
            disableAutocomplete('credit-date');
            disableAutocomplete('credit-montant');

            disableAutocomplete('debit-tier');
            disableAutocomplete('debit-cat');
            disableAutocomplete('debit-date');
            disableAutocomplete('debit-montant');

            disableAutocomplete('modType');
            disableAutocomplete('modTier');
            disableAutocomplete('modCat');
            disableAutocomplete('modMontant');
            disableAutocomplete('modDate');

            $("#lignes").scrollTop($("#lignes").get(0).scrollHeight);
        });
    </script>
{%  endblock %}